@mixin center-y {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
